:root {
    --border: #aaaaf1;
    --select: #C7ECCF;
    --primary: #80FD80;
    --onPrimary: #002204;
    --secundary: #CCEBC4;
    --button-on: #006D3F;
    --background: #FCFDF6;
    --Tertiary: #9EF0F9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
    background-color: var(--background);
}

/* header */
.nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.8rem;
}
/* contenido principal */
main {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* producto */
.product {
    flex-basis: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.product__imagen {
    width: 35%;
    height: 75%;
}

.product__imagen-img {
    max-width: 100%;
    height: 100%;
}
/* detalles del producto */
.product__attributes {
    display: flex;
    flex-direction: column;
}

/* nombre y precio */
.product__name {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 8px;
}

.product__price {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 5px;
    color: var(--button-on);
}

.product__priceDiscount {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 5px;
    color: var(--button-on);
}

/* descripcion */
.product__description {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
}

/* Calculadora */
.calc {
    flex-basis: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calc__icon {
    width: 40px;
    height: 40px;
    background-color: var(--select);
    border-radius: 100%;
    background-image: url(../icon/discount-2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.calc__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-align: center;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.form__fill {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.form__input {
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: 1px var(--button-on) solid;
    outline: none;
    padding-left: 5px;
}

.form__input:focus {
    border: 1px var(--onPrimary) solid;
    box-shadow: inset 0 0 0 1px var(--onPrimary);
    outline: none;
}

.form__button {
    flex-basis: 50%;
    height: 4rem;
    padding: 0 20px;
    border-radius: 7px;
    border: 2px var(--button-on) solid;
    background-color: var(--button-on);
    color: var(--background);
    font-size: 1.5rem;
    font-weight: 500;
}

/* Cuponera */
.cuponera {
    flex-basis: 70%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px 0;
    background-color: var(--Tertiary);
    border-radius: 12px;
}

.cuponera__title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.cuponera__item {
    list-style: none;
    font-size: 1.4rem;
    line-height: 1.5rem;
}